@import url("../../app/style.css");

* {
  color: var(--color);
}

.startScreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.startScreen-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    transparent 0px,
    rgba(255, 255, 255, 0.01) 1px,
    transparent 2px
  );
  pointer-events: none;
  z-index: 10;
  mix-blend-mode: overlay;
}

.startScreen-background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.startScreen-steps {
  position: relative;
}

.startScreen-text-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.glitch-text {
  /* custom font */
  font-family: var(--ff-sans-serif);
  font-size: clamp(2rem, 10vw, 10rem);
  animation: glitch 1s linear infinite, flicker 3s infinite;
  position: relative;
  display: inline-block;
  margin: 0 0 var(--spacing-lg) 0;
}

.startScreen-text-container p {
  font-size: clamp(1rem, 2vw, 4rem);
  animation: pulse 1.5s infinite ease-in-out;
}

/* glitch effect */
@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0px, 0px) skew(5deg);
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  24%,
  55% {
    opacity: 0.8;
  }
}

.glitch-text:before,
.glitch-text:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch-text:before {
  animation: glitchtop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchtop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch-text:after {
  animation: glitchbottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchbottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

/* pulse effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
