.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-xs);
  cursor: initial;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.checkbox-input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: var(--border-radius-small);
  background: var(--primary-blue);
  color: white;
  transition: border var(--transition-speed) ease;
}

.checkbox-input:checked {
  border-color: var(--success);
}

.checkbox-input:focus {
  outline: none;
  border-color: var(--success);
}
