@import url("../../../../app/style.css");

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-sm);
}

.slider-label {
  font-weight: bold;
  color: white;
  margin-bottom: var(--spacing-xs);
}
