@import url("../../../../app/style.css");

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-label {
  margin-bottom: var(--spacing-xs);
  font-weight: bold;
  color: white;
}

.dropdown-select {
  width: calc(100% - 10px);
  border: 2px solid #ccc;
  border-radius: var(--border-radius-large);
  background: var(--light-blue);
  color: white;
  padding: var(--spacing-xs);
  text-align: center;
  transition: border var(--transition-speed) ease;
}

.dropdown-select:focus {
  border-color: var(--accent-blue);
  outline: none;
}
