/* ===============
    MINI GAME
=============== */
.passwordGame-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: var(--border-radius-large);
}

.passwordGame-field {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.score {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.2em;
  font-weight: bold;
  color: lawngreen;
}

.circularSawBlade {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 10vh;
  pointer-events: none;
}

.circularSawBlade img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.falling-word {
  font-family: "Share Tech Mono", monospace;
  position: absolute;
  background-color: black;
  color: lawngreen;
  padding: 0.5vh 0.5vw;
  border-radius: 10%;
  font-weight: bold;
  font-size: 1.5em;
  white-space: nowrap;
}
