@import url("../../../app/style.css");

.scene-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scene-step {
  z-index: 1;
}

.icon-container {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 3rem;
}