.rotating-phone {
    animation: rotatePhone 2.5s steps(30, end) infinite;
    transform-origin: center center;
    display: inline-block;
    align-self: center;
    width: 20%;
    margin: var(--spacing-md);
}

@keyframes rotatePhone {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}