.miniGame-tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniGame-tutorial img {
  width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: contain;
}

/* desktop & tablet */
@media only screen and (min-width: 1024px) {
  .miniGame-tutorial img {
    width: 100%;
  }
}

.miniGame-tutorial-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: var(--spacing-xs);
  height: fit-content;
  width: 100%;
}

.miniGame-tutorial-buttons .button {
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  /* desktop & tablet */
  .miniGame-tutorial-buttons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-xs);
  }
}

/** Finish Modal */
.miniGame-finishModal {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.miniGame-finishModal-buttons {
  display: flex;
  gap: var(--spacing-sm);
}
