.vibrating-phone {
  animation: vibrate 1s linear infinite;
  display: inline-block;
  max-width: 15%;
  height: auto;
  margin-bottom: var(--spacing-sm);
  align-self: center;
}

@keyframes vibrate {
  0%   { transform: translate(0, 0); }
  10%  { transform: translate(-1px, 1px); }
  20%  { transform: translate(-2px, -1px); }
  30%  { transform: translate(2px, 1px); }
  40%  { transform: translate(1px, -2px); }
  50%  { transform: translate(-1px, 2px); }
  60%  { transform: translate(-2px, 1px); }
  70%  { transform: translate(2px, -1px); }
  80%  { transform: translate(1px, 2px); }
  90%  { transform: translate(-1px, -2px); }
  100% { transform: translate(0, 0); }
}
